html, body 
{
    margin: 0;
    height: 100%;
}

.float_left
{
    float: left;
}

.all_screen
{
    margin: 0;
    width: 100%;
    height: 100%;
}

.a_no_text_decor
{
    text-decoration: none;
}

.header_shape
{
    width: 100%;
    height: 15%;
    font: 24px/25px "Montserrat";
    background-color: #00757c;
    display: flex;
    justify-content: space-between;
}

.main_title
{
    display: block;
    padding: 2% 0;
    margin: 0 0 0 5%;
    height: 25px;
}

.navigation
{
    display: block;
    width: 40%;
}

.nav_link
{
    font: bold 24px/25px "Montserrat";
    text-decoration: none;
    float: left;
    list-style-type: none;
    margin: 0 0 0 11%;
}

.regular_text_style
{
    font: 24px/29px "Montserrat";
}

.bold_text_style
{
    font: bold 24px/29px "Montserrat";
}

.white_link
{
    color: #ffffff;
}

.black_text
{
    color: #000000;
}

.greeting_block
{
    display: flex;
    justify-content: space-between;
}

.greeting_text
{
    width: 60%;
    margin: 3% 0 0 6%;
}

.greeting_img_block
{
    margin-top: 2%;
    width: 40%;
}

.greeting_img
{
    width: 80%;
}

.history
{
    margin-top: 2%;
    width: 100%;
    height: 100%;
    
}

.history_block
{
    width: 100%;
    height: 99.5%;
    text-align: center;
    position: relative;
}

.darkened
{
    position: relative;
}
   
.darkened::before 
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    height: 99.5%;  
}

.history_img
{
    width: 100%;
    height: auto;
}

.history_text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fixed_footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer
{
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.footer_text
{
    display: block;
    margin: 1.5% 0 0 6%;
    height: auto;
    font: 16px/18px "Montserrat";
}

.contacts_block
{
    width: 20%;
}

.contack_link
{
    display: block;
    width: 45px;
    height: 45px;
}

.copyright
{
    margin-top: 6%;
    font: bold 18px/22px "Montserrat";
}

.event
{
    margin: 4% 7% 0 7%;
    display: flex;
    justify-content: space-between;
}

.event_short_textblock
{
    width: 55%;
    margin: 5% 0 ;
}

.event_img_div
{
    width: 35%;
}

.event_short_img
{
    width: 100%;
}

.reversed_event
{
    flex-direction: row-reverse;
}

.year_select_block
{
    margin: 3% 0 0 7%;
}

.graduates_images
{
    width: 90%;
    margin: 2% auto 0 ;
}

.graduate_img
{
    height: 350px;
    margin-left: 4%;
}

.graduates_border
{
    height: 3px;
    background-color: #00757c;
    border-radius: 5px;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 0;
}

.graduates_bacground_block
{
    background-color: #d6d6d6;
}

.graduates_block
{
    width: 90%;
    margin: 0 auto;
}

.graduates_header
{
    padding-top: 2%;
}

.graduates_title
{
    font: 18px/22px "Montserrat";
    margin: 0 0 0 4%;
}

.graduates_list_border
{
    margin: 0;
    border-radius: 5px;
}

.graduates_list
{
    width: 85%;
    margin: 2% auto 0;
    padding-bottom: 2%;
}

.graduates_list_head
{
    display: flex;
    justify-content: space-between;
    margin: 0 1%;
}

.graduates_heading
{
    display: block;
    font: 14px/17px "Montserrat";
    color: #00757c;
}

.graduates_list_content
{
    margin-top: 1.5%;
}

.graduate
{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 2%;
}

.graduate_info
{
    display: block;
    font: 14px/17px "Montserrat";
    padding: 7px 10px;
    width: 175px;
}

.event_imgs
{
    width: 80%;
    margin: 3% auto;
    display: flex;
    justify-content: space-between;
}

.event_main_img_block
{
    width: 43%;
}

.event_imgs_block
{
    width: 43%;
}

.event_main_img
{
    width: 100%;
}

.extra_imgs_table
{
    border: 0;
}

.event_extra_img_block
{
    width: 20%;
}

.event_extra_img
{
    width: 95%;
}

.event_info
{
    width: 65%;
    margin: 3% 9.8% 0;
}