html, body 
{
    margin: 0;
    height: 100%;    
}

.float_left
{
    float: left;
}

.all_screen
{
    margin: 0;
    width: 100%;
    height: 100%;
}

.a_no_text_decor
{
    text-decoration: none;
}

.header_shape
{
    width: 100%;
    height: 15%;
    font: 24px/25px "Montserrat";
    background-color: #00757c;
    display: flex;
    justify-content: space-between;
}

.main_title
{
    display: block;
    padding: 2% 0;
    margin: 0 0 0 5%;
    height: 25px;
}

.navigation
{
    display: block;
    height: 25px;
    margin: 2% 0;
    width: 40%;
}

.nav_link
{
    font: bold 24px/25px "Montserrat";
    text-decoration: none;
    float: left;
    list-style-type: none;
    margin: 0 0 0 11%;
}

.regular_text_style
{
    font: 24px/29px "Montserrat";
}

.bold_text_style
{
    font: bold 24px/29px "Montserrat";
}

.white_link
{
    color: #ffffff;
}

.black_text
{
    color: #000000;
}

.greeting_block
{
    display: flex;
    justify-content: space-between;
}

.greeting_text
{
    width: 50%;
    margin: 3% 0 0 6%;
}

.greeting_img_block
{
    margin-top: 2%;
    width: 36%;
}

.greeting_img
{
    width: 80%;
}

.history
{
    margin-top: 2%;
    width: 100%;
    height: 100%;    
}

.history_block
{
    width: 100%;
    height: 99.5%;
    text-align: center;
    position: relative;
}

.darkened
{
    position: relative;
}
   
.darkened::before 
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    height: 99.5%;  
}

.history_img
{
    width: 100%;
    height: auto;
}

.history_text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fixed_footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer
{
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.footer_text
{
    display: block;
    margin: 1.5% 0 0 6%;
    height: auto;
    font: 16px/18px "Montserrat";
}

.contacts_block
{
    width: 20%;
}

.contack_link
{
    display: block;
    width: 45px;
    height: 45px;
}

.copyright
{
    margin-top: 6%;
    font: bold 18px/22px "Montserrat";
}

.event
{
    margin: 4% 7% 0 7%;
    display: flex;
    justify-content: space-between;
}

.event_short_textblock
{
    width: 55%;
    margin: 5% 0;
}

.event_img_div
{
    width: 35%;
}

.event_short_img
{
    width: 100%;
}

.reversed_event
{
    flex-direction: row-reverse;
}

.year_select_block
{
    margin: 3% 0 0 7%;
}

.graduates_images
{
    display: flex;
    justify-content: space-between;
    width: 84%;
    margin: 2% auto 0;
}

.graduate_img_block
{
    height: 20%;
    text-align: center;
}

.graduate_img
{
    width: 90%;
}

.graduates_border
{
    height: 3px;
    background-color: #00757c;
    border-radius: 5px;
    width: 99.85%;
    margin-top: 2%;
    margin-bottom: 0;
}

.graduates_bacground_block
{
    background-color: #d6d6d6;
}

.graduates_block
{
    width: 90%;
    margin: 0 auto;
}

.graduates_header
{
    padding-top: 2%;
}

.graduates_title
{
    font: 18px/22px "Montserrat";
    margin: 0 0 0 4%;
}

.graduates_list_border
{
    margin: 0;
    border-radius: 5px;
}

.graduates_list
{
    width: 85%;
    margin: 2% auto 0;
    padding-bottom: 2%;
}

.graduates_list_head
{
    display: flex;
    justify-content: space-between;
    margin: 0 1%;
}

.graduates_heading
{
    display: block;
    font: 14px/17px "Montserrat";
    color: #00757c;
}

.graduates_list_content
{
    margin-top: 1.5%;
}

.graduate
{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 2%;
}

.graduate_info
{
    display: block;
    font: 14px/17px "Montserrat";
    padding: 7px 10px;
}

.event_imgs
{
    width: 80%;
    margin: 3% auto;
    display: flex;
    justify-content: space-between;
}

.event_main_img_block
{
    width: 43%;
}

.event_imgs_block
{
    width: 43%;
}

.event_main_img
{
    width: 100%;
}

.extra_imgs_table
{
    border: 0;
}

.event_extra_img_block
{
    width: 20%;
}

.event_extra_img
{
    width: 95%;
}

.event_info
{
    width: 65%;
    margin: 3% 9.8% 0;
}

.year_selection_label
{
    display: block;
}

.year_selection ul {
	margin: 0 0 0 2%;
	padding-left: 0;
	list-style: none;
	position: relative;
	display: inline-table;
}

.year_selection ul ul {
	display: none;
}

.year_selection ul li:hover > ul {
	display: block;
}

.year_selection ul li {
	float: left;
	width: 100%;
	text-align: left; 
}
	
.year_selection ul ul li:hover {
	text-decoration: underline #00757c;
}

.year_selection ul li span {
	display: block; 
    cursor: pointer;
}
					
.year_selection ul ul {
	border-radius: 0px; 
	padding: 0;
	position: absolute; 
	top: 100%;
}

.year_selection ul ul li {
	float: none;
	position: relative;
}

.year_selection ul ul li span {
	color: #000000;
}	

/* .year_selection ul ul li span:hover {
	background: #00757c;
	color: #fff;
}	 */

#down-triangle {
	float: right;
	width: 0; 
 	height: 0;
 	margin-top: 10px;
    margin-left: 15px;
 	border-top: 10px solid #00757c;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
}

.year_selected
{
    text-decoration: underline #00757c;
    color: #00757c;
}

.more_graduates_photo
{
    cursor: pointer;
    position: relative;
    text-align: center;
}

.more_graduates_photo_title
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal
{
  position: fixed;
  z-index: 1;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal_content
{
  width: 50%;
  cursor: auto;
  height: 75vh;
  overflow-y: scroll;
  background-color: #fefefe;
  padding: 0 3% 3% 3%;
  border-radius: 10px;
  margin: 3.500% auto;
}

::-webkit-scrollbar
{
  width: 0px;
}

.modal_header
{
    width: 100%;	
    margin-top: 1%;
    display: flex;
    justify-content: flex-end;  
}

.close
{
  line-height: 42px;
  text-align: center;
  width: 45px;
  text-decoration: none;
  font-size: 35px;
  cursor: pointer;
}

.modal_photo
{
    width: 100%;
    margin: 2% auto;
}